body{
    background-color: rgb(168, 164, 164);
}
.login{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 500px;
    background-color: rgb(132,157,157);
    width: 400px;
}
    
.search{
    width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.wellcome{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}